@import '../../../sass/mixins';

.button {
	font-family: inherit;
	padding: 2rem 4rem;
	cursor: pointer;
	border-radius: 5px;
	font-weight: var(--font-weight-semi-bold);
	text-transform: uppercase;

	&--light {
		@include theme(light);
	}

	&--dark {
		@include theme(dark);
	}
}
