@import '../../sass/mixins';

.countries {
	padding: var(--spacing-around);
	padding-top: 5rem;

	.inputs {
		max-width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		@include respond(phone) {
			height: 12rem;
			justify-content: center;
			align-content: space-between;
		}
	}

	.loading {
		@include center;
	}

	.error {
		height: 12rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include center;

		@include respond(phone) {
			text-align: center;
		}

		& > p {
			font-size: 1.9rem;
			margin-bottom: 2rem;
		}
	}
}
