.card {
	border-radius: 6px;
	box-shadow: 2.5px 2.5px 6px rgba(0, 0, 0, 0.2);
	overflow: hidden;

	&--light {
		color: var(--text-color-light);
		background-color: var(--secondary-color-light);
	}

	&--dark {
		color: var(--text-color-dark);
		background-color: var(--secondary-color-dark);
	}
}
